In [2]:
!pip install numpy
!pip install faker

Requirement already satisfied: numpy in c:\users\pie31\appdata\local\programs\python\python39\lib\site-packages (1.23.3)

In [17]:
!pip install -U scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.1.2-cp39-cp39-win_amd64.whl (7.4 MB)
     ---------------------------------------- 7.4/7.4 MB 31.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in c:\users\pie31\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.23.3)
Collecting scipy>=1.3.2
  Using cached scipy-1.9.2-cp39-cp39-win_amd64.whl (40.1 MB)
Collecting joblib>=1.0.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ---------------------------------------- 298.0/298.0 kB ? eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.1.2 scipy-1.9.2 threadpoolctl-3.1.0

In [27]:
import random
from faker import Faker
import pandas as pd
import numpy as np
random.seed(31)
Faker.seed(31)
fake = Faker(['th_TH'])

num_data = 1000

# create word list for random
gender = ['Male', 'Female']
gender_preferance = ['Men','Women','Non-binary','Everyone']
relationship_goal = ['Serious relationship','Someting casual','Prefer not to say','I am not sure yet']
edu_lvl = ['undergraduate','graduate','postgraduate']
province = [fake.administrative_unit() for _ in range(0,num_data)]
district = [fake.amphoe() for _ in range(0,num_data)]
ethicity = ['Asian','Arab','Africa','Native American',' Pacific Isander','South Asian','Caucasian','Other']
is_smoking = ['True','False']
is_drinking = ['True','False']
is_exercising = ['True','False']
fake = Faker(['en_TH'])
email = [fake.first_name() + '@student.xxx.ac.th' for _ in range(0,num_data)]

In [31]:
# create dataframe columns
user_df = pd.DataFrame(columns=['gender','gender_preference','relationship_goal','edu_lvl','province','district','ethicity','is_smoking','is_drinking','is_exercising','email'])

# randomly create data
for i in range(0,num_data):
    user = dict()
    user['gender'] = random.choice(gender)
    user['gender_preference'] = random.choice(gender_preferance)
    user['relationship_goal'] = random.choice(relationship_goal)
    user['edu_lvl'] = random.choice(edu_lvl)
    user['province'] = random.choice(province)
    user['district'] = random.choice(district)
    user['ethicity'] = random.choice(ethicity)
    user['is_smoking'] = random.choice(is_smoking)
    user['is_drinking'] = random.choice(is_drinking)
    user['is_exercising'] = random.choice(is_exercising)
    user['email'] = random.choice(email)
    # user_df.append(user,ignore_index=True)
    user_df = pd.concat([user_df,pd.DataFrame(user, index = [0])], axis = 0)
# reset index after insertion
user_df = user_df.reset_index().drop(['index'], axis = 1)

In [32]:
# display top five columns
user_df.head(5)

,gender,gender_preference,relationship_goal,edu_lvl,province,district,ethicity,is_smoking,is_drinking,is_exercising,email
0,Male,Everyone,Serious relationship,graduate,สุราษฎร์ธานี,ภักดีชุมพล,Asian,True,True,True,Peem@student.xxx.ac.th
1,Male,Women,Serious relationship,postgraduate,พังงา,คอนสวรรค์,Native American,False,False,True,Pitipat@student.xxx.ac.th
2,Male,Men,Serious relationship,graduate,พิจิตร,แม่ลาว,Native American,False,False,False,Chayapat@student.xxx.ac.th
3,Male,Women,Someting casual,graduate,ยโสธร,หนอกจอก,Asian,True,True,False,Nichakarn@student.xxx.ac.th
4,Male,Women,I am not sure yet,undergraduate,ศรีสะเกษ,พรเจริญ,Other,True,True,False,Chayanin@student.xxx.ac.th
...,...,...,...,...,...,...,...,...,...,...,...
995,Male,Men,Prefer not to say,graduate,นนทบุรี,หนองบัวแดง,Other,True,True,False,Patcharaporn@student.xxx.ac.th
996,Male,Everyone,Someting casual,undergraduate,อ่างทอง,ภักดีชุมพล,Pacific Isander,True,False,True,Pak@student.xxx.ac.th
997,Male,Men,Prefer not to say,postgraduate,ยโสธร,ปากคาด,Asian,False,True,True,Chayapat@student.xxx.ac.th
998,Male,Men,Serious relationship,undergraduate,เลย,บำเหน็จณรงค์,Asian,False,False,True,Sorawut@student.xxx.ac.th
999,Male,Men,Someting casual,postgraduate,ภูเก็ต,บ่อไร่,Native American,True,True,True,Jitrin@student.xxx.ac.th

In [33]:
# encoding binary value -> one-hot encoding
binary_col = ['gender','gender_preference','is_smoking','is_drinking','is_exercising']

# create one-hot dataframe without drop_first
one_hot_df = pd.get_dummies(user_df[binary_col])
# create one-hot dataframe with drop_first
drop_na = pd.get_dummies(user_df[binary_col], drop_first= True)

In [14]:
one_hot_df.astype(float)

,gender_Female,gender_Male,gender_preference_Everyone,gender_preference_Men,gender_preference_Non-binary,gender_preference_Women,is_smoking_False,is_smoking_True,is_drinking_False,is_drinking_True,is_exercising_False,is_exercising_True
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0
996,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
997,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
998,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
999,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0

In [15]:
drop_na.astype(float)

,gender_Male,gender_preference_Men,gender_preference_Non-binary,gender_preference_Women,is_smoking_True,is_drinking_True,is_exercising_True
0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,1.0,1.0
2,1.0,0.0,0.0,1.0,1.0,0.0,0.0
3,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
995,0.0,0.0,0.0,1.0,0.0,0.0,1.0
996,0.0,1.0,0.0,0.0,1.0,0.0,1.0
997,0.0,1.0,0.0,0.0,0.0,0.0,0.0
998,1.0,0.0,0.0,0.0,1.0,0.0,0.0
999,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [37]:
user_df = user_df.drop(binary_col, axis = 1)
user_df = pd.concat([user_df,drop_na], axis = 1)

In [38]:
display(user_df)

,relationship_goal,edu_lvl,province,district,ethicity,email,gender_Male,gender_preference_Men,gender_preference_Non-binary,gender_preference_Women,is_smoking_True,is_drinking_True,is_exercising_True
0,Serious relationship,graduate,สุราษฎร์ธานี,ภักดีชุมพล,Asian,Peem@student.xxx.ac.th,1,0,0,0,1,1,1
1,Serious relationship,postgraduate,พังงา,คอนสวรรค์,Native American,Pitipat@student.xxx.ac.th,1,0,0,1,0,0,1
2,Serious relationship,graduate,พิจิตร,แม่ลาว,Native American,Chayapat@student.xxx.ac.th,1,1,0,0,0,0,0
3,Someting casual,graduate,ยโสธร,หนอกจอก,Asian,Nichakarn@student.xxx.ac.th,1,0,0,1,1,1,0
4,I am not sure yet,undergraduate,ศรีสะเกษ,พรเจริญ,Other,Chayanin@student.xxx.ac.th,1,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Prefer not to say,graduate,นนทบุรี,หนองบัวแดง,Other,Patcharaporn@student.xxx.ac.th,1,1,0,0,1,1,0
996,Someting casual,undergraduate,อ่างทอง,ภักดีชุมพล,Pacific Isander,Pak@student.xxx.ac.th,1,0,0,0,1,0,1
997,Prefer not to say,postgraduate,ยโสธร,ปากคาด,Asian,Chayapat@student.xxx.ac.th,1,1,0,0,0,1,1
998,Serious relationship,undergraduate,เลย,บำเหน็จณรงค์,Asian,Sorawut@student.xxx.ac.th,1,1,0,0,0,0,1
999,Someting casual,postgraduate,ภูเก็ต,บ่อไร่,Native American,Jitrin@student.xxx.ac.th,1,1,0,0,1,1,1

In [39]:
from sklearn.preprocessing import LabelEncoder
non_bi_col = [col for col in user_df.columns if not col in binary_col]
label_encoder = LabelEncoder()
for col in non_bi_col:
    user_df[col] = label_encoder.fit_transform(user_df[col]).astype('float')

In [40]:
user_df

,relationship_goal,edu_lvl,province,district,ethicity,email,gender_Male,gender_preference_Men,gender_preference_Non-binary,gender_preference_Women,is_smoking_True,is_drinking_True,is_exercising_True
0,2.0,0.0,62.0,19.0,3.0,40.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
1,2.0,1.0,35.0,1.0,5.0,44.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,2.0,0.0,37.0,45.0,5.0,12.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,43.0,28.0,3.0,22.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
4,0.0,2.0,51.0,18.0,6.0,11.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.0,0.0,24.0,30.0,6.0,35.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0
996,3.0,2.0,72.0,19.0,0.0,30.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
997,1.0,1.0,43.0,15.0,3.0,12.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0
998,2.0,2.0,77.0,8.0,3.0,53.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
999,3.0,1.0,39.0,10.0,5.0,16.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0